body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Monaco", serif;
}

header {
    background-color: rgba(40, 40, 40, 80);
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
}

header a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

header a:visited {
    color: white;
}

.invisible {
    display: none;
}

input {
    border: rgb(40, 40, 40) 2px solid;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Monaco", serif;
}

button {
    border: rgb(40, 40, 40) 2px solid;
    border-radius: 7px;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Monaco", serif;
    transition-duration: 0.2s;
}

button:hover {
    background-color: rgb(40, 40, 40);
}

a {
    color: deepskyblue;
}

a:visited {
    color: darkturquoise;
}

#userGreeting{
    font-size: 20pt;
}

.errorContainer {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}