body {
    background-color: black;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

h1 {
    font-size: 80px;
    color: gray;
    font-family: "Times New Roman"
}

a {
    font-size: 40px;
    color: lightgray;
    font-family: "Times New Roman";
    text-decoration: underline;
}